version: "3.8"

services:
  locust:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: locust-testing
    env_file:
      - .env
    ports:
      - "8089:8089"
    command: locust -f locustfile.py
